# Игнорируем директории для кэша и скомпилированные бинарники Go
/bin/

# Игнорируем тестовые профайлы
*.exe

# Игнорируем временные и рабочие файлы
.vscode/
*.log

# Игнорируем файлы seed
*.seed

*.sqlite

# Игнорировать файл хронящий пиры
peers.txt

*:Zone.Identifier

text.txt

*.jpg

*.env

testFolder
.blocks
/db
*.bin